// Styles for breadcrumb
.breadcrumb{
  background-color: #f5f7f7;
  padding: 0px 110px;
  border: 1px solid transparent;
  border-width: 0px 0px 1px;
  border-color: #E7E7E7;
  @media screen and (max-width: 992px) {
    margin-bottom: 2px;
  }
  a {
    color: #9DA8A8;
  }
}



.custom-bread{
  border: 1px solid transparent;
  border-color: #E7E7E7;
  margin-bottom: 0px;
  @media screen and (max-width: 992px){
    display: none;
    border: 0px solid #E7E7E7;
  }
}

.custom-bread-mobile{
  display: none;
  @media screen and (max-width: 992px){
    display: block;
    height: 40px;
    border: 1px solid transparent;
    border-width: 0px 0px 1px;
    border-color: #E7E7E7;
  }
}

.breadcrumb-bootstrap-custom{
  padding: 8px 10px;
  margin-left: 10px;
  .active{
    color: #4B4B4B;
  }
}


.custom-bread ul, li, a{
  padding-top: 0px;
  padding-bottom: 0px;
}

.custom-bread a:hover{
  color: #000000;
}
.bread-pad{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.custom-bread-img{
}

.custom-bread-1{
  padding: 0px 110px;
  color: #9DA8A8;
}

.custom-bread-2{
  color: #9DA8A8;

}
.custom-bread-active{
  color: #000000;
}

.bread-nav{
  margin-left: 0px;
  @media screen and (max-width: 992px) {
    margin-left: 20px;
  }
}

.none-border{
  border-width: 0px 0px 0px;
}