// Styles for footer
footer{
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid transparent;
  border-width: 1px 0px 1px;
  border-color: #E7E7E7;
  @media screen and (max-width: 992px) {
    padding-top: 20px;
  }
}
.copy-rht{
  padding-top: 65px;
  @media screen and (max-width: 992px) {
    padding-top: 0px;
  }
}

.lnk{
  padding-left: 0px;
  list-style: outside none none;
  line-height: 1.9;
  font-size: 13px;
}

.footer h4{
  font-size: 17px;
}

.blue-links
{
  li > a{
    color: $brand-primary;
  }

}

.red-links{
  li > a{
    color: $brand-danger;
  }

}
