// Overriding bootstrap styles for top navbar
.navbar {
	background-color: #ffffff;
    color: #000000;
    padding-bottom: 0px;

  .btn-block{
    padding: 20px 60px;
    font-size: 12px;
    @media screen and (max-width: 760px) {
      padding: 10px 10px;
    }
  }
}

.navbar-nav {
  padding-top: 0px; //zmienione
  .btn-block{
    padding: 24px 60px;
      @media screen and (max-width: 992px) {
          padding: 10px 10px;
      }
  }
}

.phone-img {
  padding-bottom: 4px;
}

.right-block{
  padding: 0px;
}

.navbar-header{
  padding-top: 10px;
}

.navbar-brand{
  padding-top: 6px;
}


#main-navbar {
    li {
        padding-left: 10px;
        a {
            font-size: (15em / 14);
        }
    }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a
{
  color: #000000;
  font-weight: 600;
  font-size: 13px;
  padding-top: 24px;
  padding-bottom: 22px;
    @media screen and (max-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media screen and (max-width: 992px) {
        padding-left: 5px;
        padding-right: 5px;
    }
    @media screen and (max-width: 760px) {
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: center;
    }
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color: #C9302C;
}

.border-nav-right-phone{
  border-right: 1px solid transparent;
  border-width: 1px 1x 1px 1px;
  border-color: #E7E7E7;
}



.nav > li{
  padding-top: 0px;
}


.nav-lang-btn-1{
padding-right: 3px;
}
.nav-lang-btn-2{
  padding-left: 6px;
}


