.custom-chevron{
  background: #364242;
  color: #ffffff;
  @media screen and (max-width: 992px){
    display: none;
  }
}

.custom-chevron-mobile{
  display: none;
  @media screen and (max-width: 992px){
    display: block;


  }
}

.mobile-chevron-list-custom{
  color: #9DA8A8;
  .active{
    color: #4B4B4B;
  }
}

.custom-chevron ul, li, a{
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: #E7E7E7;

}

.custom-chevron-active-text{
  float: left;
  height: 100%;
  background: rgb(212, 92, 76) none repeat scroll 0% 0%;
  padding: 30.5px;
  color: #ffffff;
}

.chevron-active-img{
  float: left;
  padding-left: 50px
}

.chevron-normal-img{
  padding-right: 20px;
  padding-left: 50px;
}

.chevron-empty-img{
  padding-right: 2px;
  padding-left: 10px
}

.center-div-chevron{
  width: 100%;
}