// Styles for header while logged in


html, body{
    width: 100%;
    height: 100%;
}

body {
  min-height: 200px;
  padding-top: 67px;
  background-color: #f5f7f7;
}

* {
  border-radius: 0 !important;
}

.well{
  background-color: #FFF;
  border: 0px solid #E3E3E3;
}

.section-header{
  padding-top: 40px;
  @media screen and (max-width: 992px) {
    padding-top: 5px;
  }
}

.well-no-pad-bottom{
  margin-bottom: 0px;
}

