// Overriding bootstrap styles for typography
strong, b {
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  small {
    font-size: 60%;
  }
}

.page-title{
  font-weight: 300;
  @media screen and (max-width: 992px) {
    margin-top: 0px;
  }

}


h4, .h4 {
  font-weight: 300;
  strong {
    font-weight: 700;
  }
}

h5, .h5 {
  font-weight: 300;
  color: #434343;
  strong {
    font-weight: 700;
  }
}



small {
  font-size: 11px;
  font-weight: 300;
  color: #9da8a8;
}

label {
  font-weight: 300;
  strong {
    font-weight: 700;
  }
}


p {
  font-weight: 300;
  strong {
    font-weight: 700;
  }
}

p.text-bold {
  font-weight: 700;
}

q {
  font-weight: 300;
  font-style: italic;
  color: $gray;
}

.lead {
  font-size: (18em / 14);
}

// Classes for coloured text
.text-green {
  color: $brand-success;
}
.text-gray {
  color: $gray-light;
}
.text-bold {
  font-weight: 700;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-header {
  margin: 0;
}

.no-padding-l {
  padding-left: 0 !important;
}

.no-padding-r {
  padding-right: 0 !important;
}

