.about-alt-color-white{
  color: #ffffff !important;
  background: none;
}

.about-alt-well{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 0px solid #E3E3E3;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background: none;
  @media screen and (min-width: 1200px) {
    margin-bottom: 100px;
  }
}

.custom-bread-blue-1{
  padding: 0px 110px;
  color: #ffffff;
}

.custom-bread-blue-active{
  color: #ffffff;

}

.breadcrumb-bootstrap-blue-custom{
  color: #ffffff !important;
  background: none !important;
  .active{
    color: #ffffff !important;
    font-weight: 700;
  }
}

