.accessories-table > thead > tr > th, .accessories-table > thead > tr > td, .accessories-table > tbody > tr > th, .accessories-table > tbody > tr > td, .accessories-table > tfoot > tr > th, .accessories-table > tfoot > tr > td{
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: none;
}

.accessories-table{
  tbody{
    font-size: 13px;
    td{
      height: 50px;
      vertical-align: middle;
    }
  }
  .acc-checkbox{
    width: 5%;
    vertical-align: middle;
  }
  .acc-name{
    width: 45%;
    vertical-align: middle;
  }
  .acc-selcect{
    width: 10%;
    vertical-align: middle;
  }
  .acc-day-price{
    width: 20%;
    vertical-align: middle;
  }
  .acc-total-price{
    width: 10%;
    vertical-align: middle;
    color: $brand-danger;
  }
}

.booking-navigation-previous-button{
  background: #364242;
  color: #ffffff;
  padding: 15px;
  img{
    padding: 0px 15px;
  }
}

a.booking-navigation-previous-button:hover{
  background: #333333;
  color: #ffffff;
}

.booking-navigation-previous-pad{
  padding-right: 0px;
}

.booking-navigation-next-button{
  background:$brand-danger;
  color: #ffffff;
  padding: 15px;
  img{
    padding: 0px 15px;
  }
}

a.booking-navigation-next-button:hover{
  background: #b34e41;
  color: #ffffff;
}
.booking-navigation-next-pad{
  padding-left: 0px;
}

.booking-panel{
  border: 0px solid transparent;
  .panel-heading{
    background-color: #ffffff;
    h5 {
      display: inline-block;
      overflow: hidden;
    }
    .panel-link{
      color: $brand-danger;
      text-decoration: underline;
      font-size: 12px;
    }
    .panel-header-price{
      color: $brand-danger;
      font-size: 14px;
      font-weight: 700;
    }
    .panel-head-total-price-large{
      color: $brand-danger ;
    }

  }
  .gray-booking-head{
    background: #fafbfb;
    padding: 1px 15px;
    .panel-link{
      color: $brand-danger;
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .panel-heading-red{
    background: $brand-danger;

    h5 {
      color: #ffffff;
    }
  }
  .panel-body{
    h3{
      line-height: 0.2;
    }
    img{
      margin-bottom: 15px;
    }
    table{
      tbody{
        font-size: 12px;
        td{
          vertical-align: top;
          border-top: none;

        }
      }

    }
    .panel-table-name{
      width: 78%;
    }
    .panel-table-price{
      width: 22%;
      color: #849292;
    }
  }
}
.booking-panel-side-background{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #d45c4c;
  @media screen and (max-width: 992px) {
    margin: 10px;
  }
}
.booking-panel-side-bottom-mar{
  margin-bottom: 10px;
}


.kaucja{
  font-size: 12px;
}

.kaucja-gray{
  color: #838383;
}

.kaucja-panel-pad-top{
  padding-top: 0px;
}

.kaucja-panel-pad-bottom{
  padding-bottom: 0px;
}


.info-items{
  font-size: 12px;
  list-style-type: none;
  font-weight: 300;
  line-height: 1.9;
  margin-top: 20px;
  padding-left: 0px;
  padding-bottom: 30px;
  border: 1px solid transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #E7E7E7;
  margin-bottom: 30px;
}

.info-list-icon-img{
  width: 10px;
  margin-right: 4px;
}

.gray-center-text{
  color: #859090;
  font-size: 12px;
  text-align: center;
}

.custom-booking-checkbox-div{
  border-style: solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-width: 1px 0px 0px 0px;
  border-color: #E7E7E7;
  a{
    color: $brand-danger;
    text-decoration: underline;
  }
}

.well-inner-padding{
  padding: 40px;
}

