
.border-contact-list-section{
  border: 1px solid transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #E7E7E7;
  h6 {
    @media screen and (max-width: 992px) {
     text-align: left;
    }
  }
}

.left-background{
  background: #f8f9f9;
  @media screen and (max-width: 992px){
    background: #ffffff;
  }
}

.empty-elemnet-contact{
  height: 70px;
  @media screen and (max-width: 992px) {
    height: 10px;
  }
}

.no-pad-well{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-section-title{
  padding-top: 25px;
  @media screen and (max-width: 992px) {
    padding-top: 5px;
  }
}

.contact-mail-link{
  color: $brand-danger;
  text-decoration: underline;
}

.red-contact-form{
  background: $brand-danger;
  min-height: 400px;
  padding: 30px;
  h3{
    color: #ffffff;
  }
  button{
    background: #364242;
    color: #ffffff;
    border: 0px solid transparent;
    padding: 15px 0px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  label{
    color: #ffffff;
  }
  .enevelopes-img{
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
