
.przypis{
  font-size: 12px;
  padding-top: 30px;
}


.wybierz{

  height: 100%;

}

.wybierz-link{

  height: 300px;
  background: #364242;
  padding:0;
  color: #ffffff;
  @media screen and (max-width: 992px) {
    height: 70px;
  }
}
.wybierz-img{
  padding-top:120px;
    @media screen and (max-width: 992px) {
      padding-top:10px;
  }
}

.wybierz-link h5{

  color: #ffffff;
}

a.wybierz-link:hover{
  background:$brand-danger;
  color: #ffffff;
}

.car-small-text{
  color: #a2a9a9;
}

.list-car-section{
  min-height: 300px
}

.well-car-list-section{
  padding: 0px;
  margin-bottom: 3px;

}

.well-add-padding-car-list-section{
  padding-right: 19px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 0px;

  @media screen and (max-width: 992px) {
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

.car-img{
  padding-top: 20px;
  padding-left: 20px;
  @media screen and (max-width: 992px) {
    float: right;
  }

}

.border-car-list-section{
  border: 1px solid transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #E7E7E7;
}

.car-items{
  font-size: 11px;
  list-style-type: none;
  font-weight: 700;
  line-height: 1.9;
  margin-top: 20px;
  padding-left: 0px;
    li {
        span {
            position: absolute;
            left: 42px;
        }
    }
}

.car-list-icon-img{
  margin-right: 4px;
}

.pagination > li > a, .pagination > li > span{
  padding: 25px 18px;
  background-color: #f5f7f7;
  color: #b7b9b9;
  border: 1px solid transparent;
  border-width: 0px 0px 0px 1px;
  border-color: #E7E7E7;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
  border-width: 0px 0px 0px 0px;
}

.pagination{
  margin: 0px 0px;
}