.animate-page {
    padding-top: 0;
    @media screen and (max-width: 992px) {
        background: rgba(0, 0, 0, 0.45) none repeat scroll 0% center;
    }
    -webkit-backface-visibility: hidden;
}

.main-background-margin-container {
    @media screen and (max-width: 992px) {
        background: #f5f7f7;
    }
}

.animation-slider {
    position: relative;
    width: 100%;
    min-height: 100%;
}
.animation-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: url("../robocze/animacja/clouds.jpg") no-repeat center;
}
.animation-bridge {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    height: 100%;
    display: block;
    background: url("../robocze/animacja/bridge_2.png") no-repeat bottom center;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.animation-city {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 17%;
    width: 100%;
    height: 100%;
    display: block;
    background: url("../robocze/animacja/city_warsaw_2.png") no-repeat bottom center;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.animation-cloud-front {
    position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
    bottom: -17%;
    width: 300%;
    height: 100%;
    background: url("../robocze/animacja/cloud_1.png") repeat-x bottom left;
    -webkit-animation: animate-cloud 250s linear infinite;
    animation: animate-cloud 250s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

.animation-cloud-behind {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -15%;
    width: 300%;
    height: 100%;
    background: url("../robocze/animacja/cloud_2.png") repeat-x bottom left;
    -webkit-animation: animate-cloud 250s linear infinite;
    animation: animate-cloud 250s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

@-webkit-keyframes animate-cloud {
    0% {
        left: 0
    }
    100% {
        left: -100%
    }
}

@-moz-keyframes animate-cloud {
    0% {
        left: 0
    }
    100% {
        left: -100%
    }
}

@keyframes animate-cloud {
    0% {
        left: 0
    }
    100% {
        left: -100%
    }
}

.animation-car {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 183px;
    width: 126px;
    height: 41px;
    background: url("../robocze/animacja/car_1.png") no-repeat;
    -webkit-animation: animate-car 50s linear infinite !important;
    animation: animate-car 50s linear infinite !important;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
}

@-webkit-keyframes animate-car {
    0% {
        left: -10%
    }
    100% {
        left: 100%
    }
}

@-moz-keyframes animate-car {
    0% {
        left: -10%
    }
    100% {
        left: 100%
    }
}

@keyframes animate-car {
    0% {
        left: -10%
    }
    100% {
        left: 100%
    }
}

.info-slider {
    background: white;
    padding: 40px 0;
}

.carousel-indicators {
    bottom: -10%;
    li {
        background-color: #efefef;
        width: 9px;
        height: 9px;
        border-radius: 50% !important;
        border: 0;
        &.active {
            position: relative;
            top: -2px;
            width: 6px;
            height: 6px;
            background-color: #b34e41;
        }
    }
}

.carousel-caption {
    position: static;
    color: black;
    text-shadow: none;
}

.main-page-intro {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 7;
    color: #ffffff;
    padding-top: 150px;
    padding-bottom: 80px;
    border-radius: 2 !important;
    @media screen and (max-width: 992px) {
        background: rgba(0, 0, 0, 0.45) none repeat scroll 0% 0%;
    }
    h2 {
        padding-bottom: 30px;
        border: 1px solid;
        border-width: 0px 0px 1px;
        border-color: #E7E7E7;
    }
    .main-form-time-padding-top {
        padding-top: 25px;
    }
    button {
        padding: 15px 40px;
        margin-top: 10px;
        margin-bottom: 20px;
        img {
            padding-left: 10px;
        }
    }
    a {
        color: $brand-danger;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    ::-webkit-input-placeholder {
        color: black;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: black;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: black;
    }

    :-ms-input-placeholder {
        color: black;
    }
}

.main-form-span {
    background: #50A7A8;
}
